.navbar-container {
  background-color: #193E64 !important;
  width: 100% !important;
}

.navbar-container .logo {
  width: 100px;
}

.navbar-container .btn {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease-in-out;
  background-color: #193E64;
  color: white;
  text-transform: capitalize !important;
  font-family: 'Merriweather', serif !important;
  /* margin-left: -5px; */
}

.navbar-container .btn:hover {
  color: #FFB800;
}

.navbar-container .btn:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  color: #FFB800;
  border-bottom: #FFB800 3px solid;
}

@media (max-width: 600px) {
  .navbar-container .btn {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  .navbar-container .btn:hover::after {
    display: none;
  }
}