.card {
  padding-bottom: 15px !important;
}

.patient-header {
  display: flex;
  justify-content: center;
  background-color: #043C81;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  font-size: 14px !important;
  border-radius: 10px 10px 0px 0px;
}

.patient-details-table-container {
  max-height: 450px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px 10px 0px 10px !important;
  border-radius: 0px 0px 10px 10px !important;
}

.table {
  width: 250px;
  white-space: nowrap;
  table-layout: fixed;
  max-height: 100%;
}

.table th,
.table td {
  padding: 0.35rem;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}

.patient-details-table-container td {
  font-size: 12px !important;
  font-family: Inter;
  color: #434343;
}

.patient-label {
  font-weight: bold;
  min-width: 50px !important;
}

.patient-details-table-container::-webkit-scrollbar {
  height: 10px;
}

.patient-details-table-container::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 5px;
}
